@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Helvetica;
  src: url("./HelveticaNeueRegular.otf");
}

html {
  -webkit-text-size-adjust: 100%;
}

body,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: Helvetica, sans-serif; */
}

.animate-spin-fast {
  animation: spin 2s ease-out;
}

.animation-nav {
  animation: nav 0.5s ease-out;
}

.closing-animation {
  animation: closeNav 0.8s ease-out;
}

.bg-red {
  background-color: #ed423a;
}

.hover-bg-red:hover {
  background-color: #ed423a;
}

.text-red {
  color: #ed423a;
}

.hover-text-red:hover {
  color: #ed423a;
}

.text-volt {
  color: #532f7f;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #ed423a;
}

::selection {
  color: white;
  background: #ed423a;
}

@keyframes nav {
  0% {
    transform: translate(-100%, -160%) scale(0.01);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes closeNav {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translate(-100%, -160%) scale(0.01);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(5turn);
  }
}
